<div id="authorization-root" style="display: none; z-index: 3999999; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;" data-controller="authorization" data-action="authorization:open@window->authorization#open keydown@window->authorization#handleGlobalKeyboard">
  <!-- 모달 오버레이 -->
  <div class="gh-portal-popup-background" data-authorization-target="overlay" data-action="click->authorization#close"></div>
  <!-- 모달 컨텐츠 -->
  <div class="gh-portal-popup-wrapper" data-authorization-target="wrapper" data-action="click->authorization#close">
    <div class="gh-portal-popup-container" data-authorization-target="container" tabindex="-1" data-action="click->authorization#stopPropagation">
      <!-- 쿠키 비활성화 경고 배너는 이 자리에서 JavaScript에서 동적으로 생성됨 -->
      <!-- 닫기 아이콘 -->
      <div class="gh-portal-closeicon-container" data-authorization-target="closeIcon" data-action="click->authorization#close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gh-portal-closeicon" alt="Close">
          <defs>
            <style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.2px !important;}</style>
          </defs>
          <path class="a" d="M.75 23.249l22.5-22.5M23.25 23.249L.75.749"></path>
        </svg>
      </div>
      <!-- 로그인/회원가입 폼 (JavaScript에서 동적으로 생성) -->
      <div class="gh-portal-logged-out-form-container" data-authorization-target="formContainer">
        <form class="gh-portal-content" data-authorization-target="form">
          <header data-authorization-target="header">
            <img class="gh-portal-authorization-logo" data-authorization-target="brandLogo" src="<%= asset_url('brand.png') %>" alt="Kamil Lee의 개발 일기">
          </header>
        </form>
      </div>
    </div>
  </div>
</div>
