<% content_for :title, "Internal Server Error | Kamil Lee의 개발 일기" %>

<div class="ts-site-content ts-sidebar-disabled">
  <div class="ts-container">
    <div class="ts-main-content">
      <div class="ts-content-area">
        <div class="ts-page__header">
          <span class="ts-page__subtitle">500 Internal Server Error</span>
          <h1 class="ts-page__title">We're sorry, something went wrong.</h1>
        </div>

        <div class="ts-content-not-found">
          <p>We've been notified about this issue and we'll take a look at it shortly.</p>
          <br>
          <p><%= link_to "← Go back to homepage", root_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
