<% content_for :title, "Unprocessable Entity | Kamil Lee의 개발 일기" %>

<div class="ts-site-content ts-sidebar-disabled">
  <div class="ts-container">
    <div class="ts-main-content">
      <div class="ts-content-area">
        <div class="ts-page__header">
          <span class="ts-page__subtitle">422 Unprocessable Entity</span>
          <h1 class="ts-page__title">Something went wrong...</h1>
        </div>

        <div class="ts-content-not-found">
          <p>The change you wanted was rejected. Maybe you tried to change something you didn't have access to.</p>
          <br>
          <p><%= link_to "← Go back to homepage", root_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
