<%# 게시글 메타 정보 (날짜, 읽기시간) %>
<div class="ts-entry__post-meta">
  <div class="ts-meta-date"><%= post.published_at.strftime("%B %-d, %Y") %></div>
  <div class="ts-meta-reading-time"><%= post.read_time rescue "0 min read" %></div>
</div>
