<% content_for :title, "새 게시글 작성 | Kamil Lee의 개발 일기" %>

<div class="ts-site-content">
  <div class="ts-container">
    <div class="ts-main-content">
      <div class="ts-content-area">
        <div class="ts-entry__header ts-entry__header-large">
          <div class="ts-entry__header-inner">
            <div class="ts-entry__header-info">
              <h1 class="ts-jumbo">New Post</h1>
            </div>
          </div>
          <%= render "form", post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>
