<!-- TODO: categories 파트 시작 -->
<main class="gh-main gh-outer">
  <section class="gh-archive gh-inner">
    <div class="gh-archive-inner">
      <header class="gh-archive-wrapper">
        <h1 class="gh-article-title is-title"><%= @category_name %></h1>
      </header>
    </div>
  </section>
  <section class="gh-container is-grid gh-outer">
    <div class="gh-container-inner gh-inner">
      <main class="gh-main">
        <div class="gh-feed">
          <% @posts.each do |post| %>
            <%= render "shared/post_card", post: post %>
          <% end %>
        </div>
      </main>
    </div>
  </section>
</main>
